<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <nav id="primaryNav" class="navbar navbar-expand-lg py-4">
        <div class="container">
            <a class="navbar-brand text-uppercase" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  active text-uppercase" aria-current="page" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="intro">
        <img class="profile" src="images/p.jpg" alt="">
        <h1>START BOOTSTRAP</h1>
        <div class="icon-wraper"></div>
        <p>Graphic Artist - Web Designer - Illustrator</p>

    </section>

    <section id="portfolio" class="my-5 py-5">
        <div class="container">
            <h2 class="text-center">PORTFOLIO</h2>
            <div class="icon-wraper mb-5"></div>

            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col mb-4">
                    <div class="">
                        <div class="img-holder">
                            <img class="img-fluid" src="images/pp.jpeg" alt="">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="img-caption py-3">
                            <h4 class="text-center">Threads</h4>
                            <p class="text-center">Illustration</p>
                        </div>
                    </div>

                </div>
                <div class="col mb-4">
                    <div class="">
                        <div class="img-holder">
                            <img class="img-fluid" src="images/pp.jpeg" alt="">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="img-caption py-3">
                            <h4 class="text-center">Threads</h4>
                            <p class="text-center">Illustration</p>
                        </div>
                    </div>

                </div>
                <div class="col mb-4">
                    <div class="">
                        <div class="img-holder">
                            <img class="img-fluid" src="images/pp.jpeg" alt="">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="img-caption py-3">
                            <h4 class="text-center">Threads</h4>
                            <p class="text-center">Illustration</p>
                        </div>
                    </div>

                </div>
                <div class="col mb-4">
                    <div class="">
                        <div class="img-holder">
                            <img class="img-fluid" src="images/pp.jpeg" alt="">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="img-caption py-3">
                            <h4 class="text-center">Threads</h4>
                            <p class="text-center">Illustration</p>
                        </div>
                    </div>

                </div>
                <div class="col mb-4">
                    <div class="">
                        <div class="img-holder">
                            <img class="img-fluid" src="images/pp.jpeg" alt="">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="img-caption py-3">
                            <h4 class="text-center">Threads</h4>
                            <p class="text-center">Illustration</p>
                        </div>
                    </div>

                </div>
                <div class="col mb-4">
                    <div class="">
                        <div class="img-holder">
                            <img class="img-fluid" src="images/pp.jpeg" alt="">
                            <div class="img-overlay"></div>
                        </div>
                        <div class="img-caption py-3">
                            <h4 class="text-center">Threads</h4>
                            <p class="text-center">Illustration</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <h2 class="text-center">ABOUT</h2>
            <p class="text-center fst-italic">Lorem ipsum dolor sit amet consectetur.</p>

            <ul class="list-group timeline">
                <li>
                    <div class="timeline-image">
                        <img src="images/pp.jpeg" alt="">
                    </div>
                    <div class="timeline-panel pe-4">
                        <div class="timeline-heading text-end">
                            <h4>2009-2011</h4>
                            <h4 class="subheading">Our Humble Beginnings</h4>
                        </div>
                        <p class="text-muted text-end">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt
                            ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
                            recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                        </p>
                    </div>

                </li>
            </ul>
        </div>
    </section>
    <script src=" js/bootstrap.bundle.min.js">
    </script>
</body>

</html>